@font-face {
    font-family: "GeistMono NFP";
    src: url('/fonts/GeistMonoNerdFontPropo-Medium.otf') format("opentype");
}

html {
    font-family: "GeistMono NFP";
}

body {
  font-family: 'GeistMono NFP', sans-serif;
}

