@font-face {
    font-family: "iMWritingMono Nerd Font";
    src: url('/fonts/iMWritingMonoNerdFont-Regular.ttf') format("truetype");
}

html {
    font-family: "iMWritingMono Nerd Font";
}

body {
  font-family: 'iMWritingMono Nerd Font', sans-serif;
}

